body {
  font-family: Arial, sans-serif;
  background: #eaf5ea;
  text-align: center;
}

#app {
  background:pink;
  padding: 30px;
  width: 360px;
  margin: auto;
  margin-top: 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.title {
  color: green;
  margin-bottom: 5px;
}

.subtitle {
  color: #555;
  margin-bottom: 20px;
}

input, select, button {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: darkgreen;
}
