body {
  font-family: Arial;
  background: #f4f7f6;
  text-align: center;
}

#app {
  background: white;
  padding: 30px;
  width: 350px;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
}

input, select, button {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
}

button {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}
