body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #1f4037, #99f2c8);
    text-align: center;
}

.project-title {
    color: white;
    padding: 25px;
    font-size: 40px;
}

.page-subtitle {
    color: white;
}

.card {
    background: white;
    width: 50%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

input, select {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background: #2e7d32;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1b5e20;
}

.up {
    color: green;
    font-weight: bold;
}

.down {
    color: red;
    font-weight: bold;
}

.back-btn {
    margin-bottom: 40px;
}
