.dashboard-header {
  text-align: left;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.menu button {
  padding: 10px 15px;
  background: #2e7d32;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu button:hover {
  background: #1b5e20;
}

.section {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* CALENDAR STYLE */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  margin-top: 20px;
}

.calendar-day {
  padding: 15px;
  text-align: center;
  border-radius: 6px;
  background: #f1f1f1;
}

.sowing-day {
  background: #81c784;
  color: white;
  font-weight: bold;
}

