body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #e8f5e9;
    text-align: center;
}

.center-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-title {
    font-size: 50px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.form-container {
    margin-top: 100px;
}

input, textarea {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 250px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 30px;
    margin: 15px;
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px gray;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: #c8e6c9;
}

.error {
    color: red;
}
.market-table {
    margin: 40px auto;
    border-collapse: collapse;
    width: 70%;
    background: white;
}

.market-table th,
.market-table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

.market-table th {
    background-color: #4CAF50;
    color: white;
}
